body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  background: rgba(0, 0, 0, 0.8);
}
:root{
  --bg-primary : cornflowerblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 15vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.slider{
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.recensione{
  width: 600px;
  border-radius: 18px 18px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  position: absolute;
  top: 100px;
}
.recensione span{
  margin: 5px 0;
  font-size: 20px;
  color: yellow;
}
.recensione p{
  margin: 5px 0;
}
.cmd-btn{
  font-size: 30px;
}
.cmd-btn a{
  cursor: pointer;

}